#Encounter {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the div vertically */
    justify-content: center; /* This will center the div horizontally */
}

#encounter_workarea {
    height: 100%;
    flex-direction: row;
    margin-top: 5%;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

#sidebar button {
    background-color: rgb(118, 113, 113);
    color: #FFFFFF;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Verdana-Bold', sans-serif; /* Use the correct font name */
}

#sidebar button:hover {
    background-color: #000000;
}